body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* FLEXBOX */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
}

/* IMAGE */
.card img {
    width: 100%;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
}
