 body{
    background-color:blue;
 }
 header{
    border:1px solid black;
    padding: 35px;
    text-align: center;
    background-color: snow;
 }
 
 li {
    list-style-type:none;
    color:navy;
    display: inline-block;
    font-family: Georgia,serif
 }
